DATABASE_URL="postgresql://smartqr:1@localhost:5432/smartqr?schema=public"
REDIS_URL="redis://localhost:6379"
JWT_SECRET="change-me"
WEB_ORIGIN="http://localhost:3000"
PAYOS_CLIENT_ID=""
PAYOS_API_KEY=""
PAYOS_CHECKSUM=""
